<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="SEO" content="Rupes, Made in Italy, Liquor, Alcohol">
        <meta name="Description" content="Shopping, Rupes, Liquor">
        <meta name="Author" content="Joshua Aitken">

        <title>Template</title>
        <link rel="icon" type="image/x-icon" href="">

        <link rel="stylesheet" href="products.css">
        <html lang="en"></html>
    </head>

    <body>

        <nav class="navigation">
            <ul>
                <li><a href="index.html"><img src="/media/Icons/gold-home-64.svg"></a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="premium.html">Premium</a></li>
                <li><a href="about.html">About Us</a></li>
            </ul>
    
            <div class="icon-container">
                <img class="accounts_icon" src="/media/Icons/accounts-icon-128.svg" alt="User Icon">
                <div class="dropdown-box">
                    <button onclick="window.location.href='/extra_pages/accounts/login.html'">Login</button> <!-- Login -->
                    <button onclick="window.location.href='/extra_pages/accounts/create.html'">Register</button> <!-- Register -->
                </div>
            </div>
        </nav>


        <!----------Section 1---------->
        <section>

            <!--First section on the page-->

        </section>



        <!----------Section 2---------->
        <section>

            <!--Second section on the page-->

        </section>
    


        <!----------Section 3---------->
        <section>
            
            <!--Third section on the page-->

        </section>
        
    </body>

    <footer class="social_container">
        <img src="/media/Icons/facebook-96.svg" alt="facebook icon">
        <img src="/media/Icons/instagram-96.svg" alt="instagram icon">
        <img src="/media/Icons/linked-in-96.svg" alt="linkedin icon">
    </footer>
</html>